:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #E5E5E5;
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    outline: 2px solid tomato;
}
/* ul {
    list-style: none;
} */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/* logo */
.logo-primary {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
}
.accent {
    color: #2196F3;
}
/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}
.contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact .link:hover, .link:focus {
    color:var(--accent-color)
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero {
    background-color: #2F303A;
    text-align: center;
}
/* button */
.button {
    display: inline-block;
    /* border: 1px solid transparent; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    color: #FFFFFF;
    background-color: #2196F3;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
}
.button {
    cursor: pointer;
}
/* sections */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
padding-top: 0;
padding-bottom: 0;
}
.specifics-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    line-height: 1.14;
    text-transform: uppercase;
}
.specifics-list .text {
    line-height: 1.71;
}
/* команда */
.team-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
}
.team-list .text {
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
}
/* стилі для портфоліо */

/* скритий заголовок */
.portfolio-title {
    margin-top: 0;
    margin-bottom: 0;
}
/* filters  */
.filter-list .filter {
    display: inline-block;
    border-radius: 4px;
    /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;
}
.filter-list .filter:hover, .filter:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
.filter {
    cursor: pointer;
}
.filter .active {
    background-color: #2196F3;
    color: #FFFFFF;
}
.products .products-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.products .products-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 30px;
}
/* footer */
.page-footer {
    background-color: #2F303A;
}
.logo-secondary {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.address {
    font-style: normal;
    color: #FFFFFF;
    line-height: 1.71;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
}
.footer-contacts:hover, .footer-contacts:focus {
    color: var(--accent-color)
}